<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>937270765273-53c94gftlhtaa50q9aij6cv2k6n7gflt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937270765273-53c94gftlhtaa50q9aij6cv2k6n7gflt</string>
	<key>API_KEY</key>
	<string>AIzaSyDR3kCI_vdbZ3Rxwg5YAPqjw4w-VlaGz48</string>
	<key>GCM_SENDER_ID</key>
	<string>937270765273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDoApp</string>
	<key>PROJECT_ID</key>
	<string>todo-app-18f8c</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-18f8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937270765273:ios:a88ce1a10fdbe9e45f40c8</string>
</dict>
</plist>